<!DOCTYPE html>
<html>
  <head>
    <title>RXJS</title>
    <meta charset="utf-8" />
    <meta name="author" content=" " />
    <meta name="description" content="RXJS" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui"
    />
    <link rel="icon" href="../common/img/favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet"/>
    <link rel="icon" href="../common/img/favicon.ico" />
    <link rel="stylesheet" href="../reveal.js-4.3.1/dist/reveal.css" />
    <link rel="stylesheet" href="../reveal.js-4.3.1/dist/theme/white.css" />
    <link rel="stylesheet" href="../common/css/common.css" />

    <!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="../reveal.js-4.3.1/plugin/highlight/monokai.css">
  </head>
  <body>
    <div class="reveal white">
      <div class="slides">
        <section
          data-transition="slide"
          data-background-image="../common/img/shapes/Fixed_Shape_2_SVG/Fixed_Shape_2_CapgeminiBlue_RGB.svg"
        >
          <h2 class="white">RXJS</h2>
          <p class="credits">by twawrzyn</p>
        </section>
        <section
          data-transition="slide"
          data-background-image="../common/img/shapes/Fixed_Shape_3_SVG/Fixed_Shape_3_CapgeminiBlue_RGB.svg"
        >
          <h2 class="white">RXJS</h2>
          <ul>
            <li>reactive programming - consumer-producer,</li>
            <li>programming with asynchronous data streams,</li>
            <li>replaces promises and callbacks,</li>
            <li>uses observable as data streams with chainable operations.</li>
          </ul>
        </section>
        <section
          data-transition="slide"
          data-background-image="../common/img/shapes/Fixed_Shape_3_SVG/Fixed_Shape_3_CapgeminiBlue_RGB.svg"
        >
          <h2 class="white">RXJS</h2>
          <pre><code> const timer$ = new Observable((subscriber) => {
    const {next, error, complete} = subscriber;
    let i = 0;
    setInterval(() => next(i++), 1000);
  });
    
  const timerSubscription = timer$
    .pipe(filter(curSec => curSec%10))
    .subscribe(sec =>console.log(`Current sec ${sec}`));</code></pre>
        </section>
        <section
          data-transition="slide"
          data-background-image="../common/img/shapes/Fixed_Shape_3_SVG/Fixed_Shape_3_CapgeminiBlue_RGB.svg"
        >
          <h2 class="white">Operators</h2>
          <h3 class="white">Basic operators:</h3>
          <ul>
            <li>
              side effects
              <pre><code> tap(function)</code></pre>
            </li>
            <li>
              filter emmited data
              <pre><code> filter(predicate)</code></pre>
            </li>
            <li>
              map data inside observable
              <pre><code> map(function)</code></pre>
            </li>
          </ul>
        </section>
        <section
          data-transition="slide"
          data-background-image="../common/img/shapes/Fixed_Shape_3_SVG/Fixed_Shape_3_CapgeminiBlue_RGB.svg"
        >
          <h2 class="white">Operators</h2>
          <h3 class="white">Basic operators:</h3>
          <ul>
            <li>
              emits last value if nothing emitted in last {time}
              <pre><code> debounceTime(time)</code></pre>
            </li>
            <li>
              maps observable to another observable
              <pre><code> switchMap(observable$)</code></pre>
            </li>
          </ul>
        </section>
        <section
          data-transition="slide"
          data-background-image="../common/img/shapes/Fixed_Shape_3_SVG/Fixed_Shape_3_CapgeminiBlue_RGB.svg"
        >
          <h2 class="white">Cold & Hot observable</h2>
          <ul>
            <li>
              Hot observable - emits data even without subscription,
              <ul>
                <li>
                  Router,
                </li>
                <li>
                  Events.
                </li>
              </ul>
            </li>
          </ul>
          <pre><code>  Observable.fromEvent(document, 'click'); </code></pre>
        </section>
        <section
          data-transition="slide"
          data-background-image="../common/img/shapes/Fixed_Shape_3_SVG/Fixed_Shape_3_CapgeminiBlue_RGB.svg"
        >
          <h2 class="white">Cold & Hot observable</h2>
          <ul>
            <li>
              Cold observable - emits data after subscription, separatly for
              each observer
              <ul>
                <li>
                  HttpClient
                </li>
              </ul>
            </li>
          </ul>
          <pre style="width:800px"><code>  const timer$ = new Observable((subscriber) => {
    let i = 0;
    const intervalId = setInterval(
      () => subscriber.next(i++),
      1000);
    return ()=> clearInterval(intervalId);
  });</code></pre>
        </section>
        <section
          data-transition="slide"
          data-background-image="../common/img/shapes/Fixed_Shape_2_SVG/Fixed_Shape_2_CapgeminiBlue_RGB.svg"
        >
          <h2 class="white">Subscribing</h2>
          <ul>
            <li>
              subscription must be unsubscribed
            </li>
            <li>
              supported in template (via async pipe)
              <pre><code>  &#x3C;div *ngIf="book$ | async as book";&#x3E;
    &#x3C;span&#x3E;Name {{book.name}}&#x3C;/span&#x3E;
    &#x3C;span&#x3E;Author {{book.author}}&#x3C;/span&#x3E;
  &#x3C;/div&#x3E;
  
  &#x3C;div *ngFor="let book in books$ | async";&#x3E;
    &#x3C;span&#x3E;Name {{book.name}}&#x3C;/span&#x3E;
    &#x3C;span&#x3E;Author {{book.author}}&#x3C;/span&#x3E;
  &#x3C;/div&#x3E;</code></pre>
            </li>
          </ul>
        </section>
        <section>
          <h2>
            <a href="../index.html#/1">Main page</a>
          </h2>
        </section>
      </div>
    </div>
		<script src="../reveal.js-4.3.1/dist/reveal.js"></script>
		<script src="../reveal.js-4.3.1/plugin/zoom/zoom.js"></script>
		<script src="../reveal.js-4.3.1/plugin/notes/notes.js"></script>
		<script src="../reveal.js-4.3.1/plugin/search/search.js"></script>
		<script src="../reveal.js-4.3.1/plugin/markdown/markdown.js"></script>
		<script src="../reveal.js-4.3.1/plugin/highlight/highlight.js"></script>
    <script>

			// Also available as an ES module, see:
			// https://revealjs.com/initialization/
			Reveal.initialize({
        history: true,
				controls: true,
				progress: true,
				center: true,
				hash: true,

				// Learn about plugins: https://revealjs.com/plugins/
				plugins: [ RevealZoom, RevealNotes, RevealSearch, RevealMarkdown, RevealHighlight ]
			});

		</script>
  </body>
</html>
